In [2]:
import requests 
import pandas as pd

**Ejercicio 1: Ejercicio generación renovable/no renovable nacional**

In [3]:
diccionario_año = {"tipo_energia": [], "tipo_generacion": [], "fecha": [], "valor": []}

for año in range(2011, 2023): 
    url_nacional = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=month"
    datos_año =  requests.get(url_nacional)
    json_año = datos_año.json()

    for elemento in json_año["included"]:
        for dato in elemento["attributes"]["values"]:
            diccionario_año["tipo_energia"].append(elemento["attributes"]["title"])
            diccionario_año["tipo_generacion"].append(elemento["attributes"]["type"])
            diccionario_año["valor"].append(dato["value"])
            diccionario_año["fecha"].append(dato["datetime"])

In [4]:
df_año = pd.DataFrame(diccionario_año)
df_año

,tipo_energia,tipo_generacion,fecha,valor
0,Hidráulica,Renovable,2011-01-01T00:00:00.000+01:00,5.119512e+06
1,Hidráulica,Renovable,2011-02-01T00:00:00.000+01:00,2.998051e+06
2,Hidráulica,Renovable,2011-03-01T00:00:00.000+01:00,3.910363e+06
3,Hidráulica,Renovable,2011-04-01T00:00:00.000+02:00,3.537938e+06
4,Hidráulica,Renovable,2011-05-01T00:00:00.000+02:00,2.797500e+06
...,...,...,...,...
2482,Generación total,Generación total,2022-08-01T00:00:00.000+02:00,2.528779e+07
2483,Generación total,Generación total,2022-09-01T00:00:00.000+02:00,2.366389e+07
2484,Generación total,Generación total,2022-10-01T00:00:00.000+02:00,2.195674e+07
2485,Generación total,Generación total,2022-11-01T00:00:00.000+01:00,2.157244e+07
2486,Generación total,Generación total,2022-12-01T00:00:00.000+01:00,2.222615e+07