# Qué hemos aprendido hoy?

- Listas:

    - Se pueden modificar -> son mutables
    - Admite diferente tipos de datos (incluso listas dentro de listas)
    - Se crea con []
    - Es un conjunto de elementos
    - Los elementos se separan por ,
    - Los índices empiezan en 0
        - Para acceder a los elementos, usamos el índice con []
    
    - Propiedades:
        - len() -> longitud de una lista
        - max()
        - min()

    - Métodos:
        - list() -> convierte a lista
        - copy() -> crea una copia
        - index() -> devuelve el índice de un elemento
        - count() -> cuenta elementos
        - sort() -> ordena los elementos
        - sorted() -> también ordena, pero no sobreescribe
        - clear() -> limpia una lista
        - append() -> añade 1 elemento a la lista
        - extend() -> "extrae elementos de una lista y los añade 1 a 1", nos permite añadir varios elementos
        - insert() -> añade elementos en una posición dada
        - pop() -> elimina el último elemento de la lista por defecto, podemos usar el índice
        - remove() -> elimina el elemento por su "nombre"

In [1]:
lista = ["a", "b", "c", "d"]

In [2]:
len(lista)-1

3

In [3]:
lista[len(lista)-1]

'd'

In [4]:
lista[3]

'd'

In [5]:
lista[-1]

'd'

In [6]:
lista_2 = ["a", "b", "c", "d",1 , 2, 3, 4]

In [7]:
max(lista)

'd'

In [8]:
max(lista_2)

TypeError: '>' not supported between instances of 'int' and 'str'

In [9]:
nombre = "cesar"

list(nombre)

['c', 'e', 's', 'a', 'r']

In [10]:
edad = 44

list(edad)

TypeError: 'int' object is not iterable

In [11]:
lista_2

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [12]:
lista_2.clear()

In [13]:
lista_2

[]

In [14]:
lista_3 = []

In [15]:
lista

['a', 'b', 'c', 'd']

In [16]:
lista.append("e")

In [17]:
lista

['a', 'b', 'c', 'd', 'e']

In [18]:
lista.extend("f")

In [19]:
lista

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
lista.append([1,2,3])

In [21]:
lista

['a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3]]

In [22]:
lista.extend([1,2,3])

In [23]:
lista

['a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3], 1, 2, 3]

In [24]:
lista.extend("x", "y", "z")

TypeError: list.extend() takes exactly one argument (3 given)

In [25]:
lista.extend(["x", "y", "z"])

In [26]:
lista

['a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3], 1, 2, 3, 'x', 'y', 'z']

In [27]:
lista.append("m", "n")

TypeError: list.append() takes exactly one argument (2 given)

In [28]:
lista.insert(0, "hola")

In [29]:
lista

['hola', 'a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3], 1, 2, 3, 'x', 'y', 'z']

In [30]:
lista_4 = ['a', 'b', 'c', 'd', 'e', 'f']

print(lista_4)

['a', 'b', 'c', 'd', 'e', 'f']

In [31]:
lista_4.pop()

'f'

In [32]:
lista_4

['a', 'b', 'c', 'd', 'e']

In [33]:
lista_4.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [34]:
lista_4

['a', 'b', 'c', 'd', 'e']

In [35]:
lista_4.remove(0)

ValueError: list.remove(x): x not in list

In [36]:
lista_4.remove("a")

lista_4

['b', 'c', 'd', 'e']

In [37]:
lista_4.pop("b")

TypeError: 'str' object cannot be interpreted as an integer

In [38]:
lista_4.pop(0)

'b'

In [39]:
lista_5 = [5,6,7,8]

print(lista_5)

[5, 6, 7, 8]

In [40]:
lista_5.remove(0)

ValueError: list.remove(x): x not in list

In [41]:
lista_5.remove(5)

In [42]:
lista_5

[6, 7, 8]

In [43]:
lista_5.index(7)

1

In [44]:
lista_5.pop(lista_5.index(7))

7

In [45]:
lista_5

[6, 8]

In [46]:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                            12, 11, 13, 17, 18, 15, 
                            15, 17, 17, 13, 13, 11,
                            12, 10, 12, 14, 12, 12,
                            11, 12, 16, 16, 14, 17, 18]

dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',  'sunday']

24. ¿Cuál es el penúltimo día de la semana?

In [47]:
dias_en[-2]

'saturday'

25. ¿Cuál es el último elemento de la lista de temperaturas de diciembre?

In [48]:
temperaturas_diciembre[-1]

18

27. ¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?

In [49]:
"friday" in dias_en

True

In [50]:
dias_en.index("friday")

4

In [51]:
dias_en.index("viernes")

ValueError: 'viernes' is not in list

In [52]:
print(temperaturas_diciembre)

[10, 10, 13, 14, 12, 15, 12, 11, 13, 17, 18, 15, 15, 17, 17, 13, 13, 11, 12, 10, 12, 14, 12, 12, 11, 12, 16, 16, 14, 17, 18]

In [53]:
temp_semana = temperaturas_diciembre[0:7]

print(temp_semana)

[10, 10, 13, 14, 12, 15, 12]

In [54]:
temp_max = max(temp_semana)

temp_max

15

In [55]:
temp_min = min(temp_semana)

temp_min

10

In [56]:
temp_semana.count(temp_min)

2

La temperatura máxima esta semana será 15 ºC, que ocurrirá en 1 días(s). El día más friolero tendrá una temperatura mínima de 10 ºC, que ocurrirá en 2 día(s).

In [57]:
print("La temperatura máxima esta semana será", temp_max,  "ºC, que ocurrirá en", temp_semana.count(temp_max))

La temperatura máxima esta semana será 15 ºC, que ocurrirá en 1

In [58]:
lista_compra = "patata"

In [59]:
lista_compra

'patata'

In [64]:
print(f"""La temperatura máxima esta semana será {temp_max} ºC, 
      que ocurrirá en {temp_semana.count(temp_max)} días(s). 
      El día más friolero tendrá una temperatura mínima de {temp_min} ºC, 
      que ocurrirá en {temp_semana.count(temp_min)} día(s).""")

La temperatura máxima esta semana será 15 ºC,
      que ocurrirá en 1 días(s).
      El día más friolero tendrá una temperatura mínima de 10 ºC,
      que ocurrirá en 2 día(s).