# Bucles for

- Sirven para iterar por TODOS los elementos de una variable (si es iterable):
    - listas
    - diccionarios
    - tuplas
    - sets
    - strings
    - NO PODEMOS ITERARA POR int/float

- range -> nos genera el número de iteraciones, podemos usar start, stop, step
- tenemos que usar :
- Lo podemos combinar con if, try,...

In [2]:
x = 123.45

for num in x:
    print(x)

TypeError: 'float' object is not iterable

In [4]:
lista = [1,2,"hola",4,5]

for num in lista:
    print(num)

1
2
hola
4
5

In [8]:
for num in range(8, 15):
    print(num)
    print("--------------")

8
--------------
9
--------------
10
--------------
11
--------------
12
--------------
13
--------------
14
--------------

In [9]:
lista

[1, 2, 'hola', 4, 5]

In [10]:
len(lista)

5

In [14]:
lista[1]

2

In [15]:
for i in range(len(lista)):
    print(lista[i])

1
2
hola
4
5

In [12]:
for i in range(4):
    print(i)

0
1
2
3

In [16]:
lista

[1, 2, 'hola', 4, 5]

In [19]:
for i in lista:
    if i == "hola":
        print(i)
        i = 3

print(lista)

hola
[1, 2, 'hola', 4, 5]

In [20]:
lista[2] = 3

print(lista)

[1, 2, 3, 4, 5]

In [24]:
lista = [1,2,"hola",4,5]

for i in range(len(lista)):
    if lista[i] == "hola":
        lista[i] = 3

lista

[1, 2, 3, 4, 5]

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
"hola" == "Hola"

False

In [27]:
temperaturas = [23, 12, 37, 33, 1, 6, 15]

#  1. Cread tres listas nuevas, donde:

In [31]:
temp_bajas = []
temp_medias = []
temp_altas = []

for temp in temperaturas:
    if 0 < temp <= 10:
        temp_bajas.append(temp)

    elif temp >= 11 and temp < 20:
        temp_medias.append(temp)
    
    else:
        temp_altas.append(temp)

In [32]:
print(temp_altas)
print(temp_medias)
print(temp_bajas)

[23, 37, 33]
[12, 15]
[1, 6]

In [34]:
#  2. Las temperaturas están grados centígrados. Para cada una de las listas creadas en el ejercicio anterior, convertid las temperaturas a grados fahrenheit


for temps in range(0,11):
    conversion = temps*9/5+32
    print(conversion)

32.0
33.8
35.6
37.4
39.2
41.0
42.8
44.6
46.4
48.2
50.0

In [35]:
fahrenheit = []
for temp in temperaturas:
    fahrenheit.append(temp * 9/5 + 32)
    
print(fahrenheit)

[73.4, 53.6, 98.6, 91.4, 33.8, 42.8, 59.0]

In [36]:
altas_temp_fahr = []
medias_temp_fahr = []
bajas_temp_fahr = []
for temperatura in temp_altas:
    temperatura = (temperatura*9/5)+32
    altas_temp_fahr.append(temperatura)
print(f' Las temperaturas altas en farhenheit son: {altas_temp_fahr}')
for temperatura in temp_medias:
    temperatura = (temperatura*9/5)+32
    medias_temp_fahr.append(temperatura)
print(f' Las temperaturas medias en farhenheit son: {medias_temp_fahr}')
for temperatura in temp_bajas:
    temperatura = (temperatura*9/5)+32
    bajas_temp_fahr.append(temperatura)
print(f' Las temperaturas bajas en farhenheit son: {bajas_temp_fahr}')

 Las temperaturas altas en farhenheit son: [73.4, 98.6, 91.4]
 Las temperaturas medias en farhenheit son: [53.6, 59.0]
 Las temperaturas bajas en farhenheit son: [33.8, 42.8]

In [49]:
# try / except

# 5. Define  la variable `doce = '12'` y `seis = 6`. Intenta sumarlos. En el caso de que te salga un error imprime `'¡Un error!'`. Para eso usa un `try` ... `except`
doce = "12"
seis = 6

try:
    print(doces + seis)

except TypeError:
    print(int(doce) + int(seis))

NameError: name 'doces' is not defined

In [44]:
int(doce) + int(seis)

18

In [64]:
lista = [1,2,3,4,5,6]

for num in lista:
    if num % 2 == 0:
        print(num)

    else: # añadir qué tengo que hacer con los números impares
        pass

2
4
6

In [65]:
lista = ["1", "2", "a", "3", "b", "c", "4"]


for num in lista:
    try:
        int(num)

    except:
        print("sensor roto")
        break

sensor roto

In [69]:
# 6. Basándonos en el ejercicio anterior, sin usar un `try` ... `except`, ¿cómo podríamos solucionar el problema? 

doce = "12"
seis = 6

if type(doce) != str and type(seis) != str:
    print(doce+seis)

else:
    print("no se puede")

no se puede

In [66]:
type(doce)

str

In [ ]:
# 8. Solicita al usuario ingresar dos números y muestra el resultado de dividir el primero por el segundo. Asegúrate de manejar la excepción si el segundo número es cero.

In [70]:
4/0

ZeroDivisionError: division by zero

In [75]:
"hola"/6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [74]:
try:
    num_1 = float(input("dime un número"))
    num_2 = float(input("dime un número"))

    print(num_1/num_2)

except:

    print("hay un error")

hay un error

In [82]:
try:
    num_1 = float(input("dime un número"))
    num_2 = float(input("dime un número"))

    print(num_1/num_2)

except ZeroDivisionError:
    num_1 = float(input("dime un número"))
    num_2 = float(input("dime un número, que no sea cero"))
    print("hay un error en la división")

except ValueError:
    try:
        num_1 = float(input("dime un número, pero de verdad"))
        num_2 = float(input("dime un número"))
        print(num_1/num_2)
    except:
        print("no podemos hacer nada contigo, tomate un café")

2.0

In [83]:
lista = [1,2,3,4,5,6,7,8]

lista_pares = []

for num in lista:
    if num % 2 == 0:
        lista_pares.append(num)

lista_pares

[2, 4, 6, 8]

In [84]:
lista = [1,2,3,4,5,6,7,8]

lista_pares_2 = [num for num in lista if num % 2 == 0]

lista_pares_2

[2, 4, 6, 8]