In [2]:
# 1. Crea una tupla `persona1` para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. (Serán del tipo `int`, `float` y `str`.)
persona1 = 61, 1.54, "pelo marron"
persona1

(61, 1.54, 'pelo marron')

In [3]:
# 2. Crea una tupla para la `persona2` de 68 kg, 1.65 m y pelo rubio, usando paréntesis
persona2 = (68, 1.65, "pelo rubio")
persona2

(68, 1.65, 'pelo rubio')

In [7]:
#  3. Crea una lista `talla` que recompila 'M', 42, y 39.
talla = ["M", 42, 39]
talla

['M', 42, 39]

In [8]:
# 4. Convierte la lista `talla` a una tupla.
talla = tuple(talla)
talla

('M', 42, 39)

In [10]:
# 5. Une a la tupla de `persona1` los datos en `talla`.
lista_tuplas = persona1 + talla
lista_tuplas

(61, 1.54, 'pelo marron', 'M', 42, 39)

In [12]:
# 6. Saca de `persona2` el contenido del tercer elemento y llámalo `color`.
color = persona2[2]
color

'pelo rubio'

In [13]:
# 7. ¿Cuántos elementos hay ahora en `persona1`? (Es decir, ¿cuál es su longitud?)
len(persona1)

3

In [14]:
# 8. Crea las variables `peso`, `altura`, `color`, `camiseta`, `pantalon`, y `zapatos` y llénalas con el contenido de `persona1`. Imprime `camiseta` para comprobar el resultado.
peso, altura, color_pelo = persona1
color_pelo

'pelo marron'

In [15]:
# 9. Crea el zip `personas` con `persona1` y `persona2`.
personas = list(zip(persona1, persona2))
personas

[(61, 68), (1.54, 1.65), ('pelo marron', 'pelo rubio')]

In [16]:
# 10. ¿Cuántas "elementos" tiene `personas`? ¿Por qué?
len(personas)

3

In [18]:
# 11. Crea una tupla `etiquetas` con `'peso'`, `'altura'`, y `'color'`.
etiquetas = peso, altura, color_pelo
etiquetas

(61, 1.54, 'pelo marron')

In [19]:
# 12. Crea al zip de `etiquetas`, `persona1`, y `persona2`.
todo = list(zip(etiquetas, persona1, persona2))
todo

[(61, 61, 68),
 (1.54, 1.54, 1.65),
 ('pelo marron', 'pelo marron', 'pelo rubio')]

In [20]:
# 13. Ordena las propiedades de la variable `personas` alfabéticamente. 
personas.sort()

TypeError: '<' not supported between instances of 'str' and 'float'