## Pair Pandas

El objetivo de la clase de hoy será crear unos cuántos DataFrames y Series a través de los siguientes ejercicios:

*   ¿Qué diferencia hay entre una Serie y un DataFrame?

Momento de trabajar con Series. Contesta a las siguientes preguntas:

1-  Crea dos listas:

    Una que se llame "valores" que tenga 7 números aleatorios.

    Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

2-  A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

3-  A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

4-  Crea una Serie con el diccionario creado en el punto anterior.

5-  ¿Qué forma tiene esta última Serie?

6-  ¿Qué tipo de datos tiene?

7-  ¿Qué tamaño tiene?

8-  ¿Cuáles son los índices de la Serie?

9-  ¿Y los values?

10- Extrae el valor para el índice "lunes"

11- Extrae el valor para el índice "lunes", "martes" y "miércoles".

12- Extrae el valor para el índice "lunes" y "domingo".

Es el turno de los DataFrames

14- Crea un array de dos dimensiones con 4 filas y 3 columnas.

15- Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

Descarga el archivo "medallas" y carga el DataFrame.

16- Usando el loc extrae todas las columnas de la fila de Tailandia.

17- Usando el loc extrae todas las columnas de China e Irán.

18- Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

19- Usando el iloc extrae la información de la India. Devolved todas las columnas.

20- Usando el iloc extrae todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

21- Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".

Contesta a las siguientes preguntas:

22- ¿Qué país consiguió más de 200 medallas de oro?

23- ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

24- ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

25- Crea una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.

In [20]:
#importando librerias!
import pandas as pd
import numpy as np


### Pair Pandas

El objetivo de la clase de hoy será crear unos cuántos DataFrames y Series a través de los siguientes ejercicios:

¿Qué diferencia hay entre una Serie y un DataFrame?

Una serie es una estructura de datos unidimensional etiquetada, mientras que un DataFrame es una estructura de datos bidimensional etiquetada y tabular. Los DataFrames son más versátiles y se utilizan comúnmente para manipular datos de forma tabular, mientras que las series son más simples y se utilizan para representar datos unidimensionales.

In [4]:
"""
Momento de trabajar con Series. Contesta a las siguientes preguntas:

Crea dos listas:

Una que se llame "valores" que tenga 7 números aleatorios.

Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

"""
# Lista de valores con 7 números aleatorios
valores = [23, 45, 12, 67, 34, 89, 55]

# Lista de índices con los días de la semana
dias_semana = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]

In [5]:
"""
A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean
los índices de la Serie.
"""

# Crear la Serie
serie = pd.Series(valores, index=dias_semana)

# Mostrar la Serie resultante
print(serie)

Lunes        23
Martes       45
Miércoles    12
Jueves       67
Viernes      34
Sábado       89
Domingo      55
dtype: int64

In [17]:
"""
A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

"""

diccionario = dict(zip(dias_semana, valores))
diccionario

{'Lunes': 23,
 'Martes': 45,
 'Miércoles': 12,
 'Jueves': 67,
 'Viernes': 34,
 'Sábado': 89,
 'Domingo': 55}

In [16]:
"""
4-  Crea una Serie con el diccionario creado en el punto anterior.
"""
# Crear la Serie a partir del diccionario
serie = pd.Series(diccionario)

# Mostrar la Serie resultante
serie

Lunes        23
Martes       45
Miércoles    12
Jueves       67
Viernes      34
Sábado       89
Domingo      55
dtype: int64

In [18]:
"""
5-  ¿Qué forma tiene esta última Serie?

6-  ¿Qué tipo de datos tiene?

7-  ¿Qué tamaño tiene?

8-  ¿Cuáles son los índices de la Serie?

9-  ¿Y los values?
"""

# Forma de la Serie
forma_serie = serie.shape

# Tipo de datos de la Serie
tipo_datos = serie.dtype

# Tamaño de la Serie
tamaño_serie = serie.size

# Índices de la Serie
indices_serie = serie.index

# Values de la Serie
values_serie = serie.values

print("Forma de la Serie:", forma_serie)
print("Tipo de datos de la Serie:", tipo_datos)
print("Tamaño de la Serie:", tamaño_serie)
print("Índices de la Serie:", indices_serie)
print("Values de la Serie:", values_serie)

Forma de la Serie: (7,)
Tipo de datos de la Serie: int64
Tamaño de la Serie: 7
Índices de la Serie: Index(['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado',
       'Domingo'],
      dtype='object')
Values de la Serie: [23 45 12 67 34 89 55]

In [19]:
"""
10- Extrae el valor para el índice "lunes"

11- Extrae el valor para el índice "lunes", "martes" y "miércoles".

12- Extrae el valor para el índice "lunes" y "domingo".
"""

# Extraer el valor para el índice "lunes"
valor_lunes = serie['Lunes']
print("Valor para el índice 'Lunes':", valor_lunes)

# Extraer el valor para el índice "lunes", "martes" y "miércoles"
valores_lunes_martes_miercoles = serie[['Lunes', 'Martes', 'Miércoles']]
print("Valores para los índices 'Lunes', 'Martes' y 'Miércoles':\n", valores_lunes_martes_miercoles)

# Extraer el valor para el índice "lunes" y "domingo"
valores_lunes_domingo = serie[['Lunes', 'Domingo']]
print("Valores para los índices 'Lunes' y 'Domingo':\n", valores_lunes_domingo)

Valor para el índice 'Lunes': 23
Valores para los índices 'Lunes', 'Martes' y 'Miércoles':
 Lunes        23
Martes       45
Miércoles    12
dtype: int64
Valores para los índices 'Lunes' y 'Domingo':
 Lunes      23
Domingo    55
dtype: int64

In [22]:
"""
14- Crea un array de dos dimensiones con 4 filas y 3 columnas.

15- Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

"""

# 14. Crear un array de dos dimensiones con 4 filas y 3 columnas
array_2d = np.array([
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90],
    [100, 110, 120]
])

# 15. Convertir el array en un DataFrame con columnas específicas
columnas = ['España', 'Francia', 'Italia']
df = pd.DataFrame(array_2d, columns=columnas)

# Mostrar el DataFrame resultante
df

   España  Francia  Italia
0      10       20      30
1      40       50      60
2      70       80      90
3     100      110     120

In [44]:
"""
Descarga el archivo "medallas" y carga el DataFrame.

"""

# traigo mis datos 
medallas = pd.read_csv("medallas.csv",index_col="País")

# Eliminar la columna "Unnamed"
medallas = medallas.drop(columns=['Unnamed: 0'])

medallas

                  Oro  Plata  Bronce
País
China            1473    994     720
Japón            1032   1037     985
Corea del Sur     745    663     827
Irán              179    181     197
Kazajistán        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taipéi       99    144     276
Corea del Norte    91    120     235

In [45]:
"""
16- Usando el loc extrae todas las columnas de la fila de Tailandia.

"""

#16- Usando el loc extrae todas las columnas de la fila de Tailandia.
fila_tailandia = medallas.loc['Tailandia']

# Mostrar la fila de Tailandia
print(fila_tailandia)

Oro       132
Plata     175
Bronce    278
Name: Tailandia, dtype: int64

In [46]:
"""
17- Usando el loc extrae todas las columnas de China e Irán.

"""

filas_china_iran = medallas.loc[['China', 'Irán']]

# Mostrar las filas de China e Irán
print(filas_china_iran)

        Oro  Plata  Bronce
País
China  1473    994     720
Irán    179    181     197

In [47]:
"""
18- Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

"""

# Suponiendo que "Pais" es el nombre de la columna que se ha convertido en el índice
columnas_medallas_china_iran = medallas.loc[['China', 'Irán'], ['Oro', 'Plata', 'Bronce']]

# Mostrar las columnas "Oro", "Plata" y "Bronce" de China e Irán
print(columnas_medallas_china_iran)

        Oro  Plata  Bronce
País
China  1473    994     720
Irán    179    181     197

In [49]:
"""
19- Usando el iloc extrae la información de la India. Devolved todas las columnas.

"""
info_india = medallas.iloc[5]

# Mostrar la información de la India
print(info_india)

Oro       154
Plata     202
Bronce    315
Name: India, dtype: int64

In [51]:
"""
20- Usando el iloc extrae todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

"""
paises_impares = medallas.iloc[1::2]

# Mostrar la información de los países en posiciones impares
print(paises_impares)

                  Oro  Plata  Bronce
País
Japón            1032   1037     985
Irán              179    181     197
India             154    202     315
Indonesia         112    131     240
Corea del Norte    91    120     235

In [56]:
"""
21- Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".
"""

paises_impares_medallas = medallas.iloc[1::2, [0,1,2]]

# Mostrar la información de las medallas de los países en posiciones impares
print(paises_impares_medallas)

                  Oro  Plata  Bronce
País
Japón            1032   1037     985
Irán              179    181     197
India             154    202     315
Indonesia         112    131     240
Corea del Norte    91    120     235

In [ ]:
"""
Contesta a las siguientes preguntas:
"""

In [63]:
# 22- ¿Qué país consiguió más de 200 medallas de oro?

pais_mas_200_oro = medallas[medallas['Oro'] > 200]
print("El país que consiguió más de 200 medallas de oro es:", pais_mas_200_oro)

El país que consiguió más de 200 medallas de oro es:                 Oro  Plata  Bronce
País
China          1473    994     720
Japón          1032   1037     985
Corea del Sur   745    663     827

In [62]:
# 23- ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

pais_mas_200_oro_1000_plata = medallas[(medallas['Oro'] > 200) & (medallas['Plata'] > 1000)].index[0]
print("El país que consiguió más de 200 medallas de oro y más de 1000 de plata es:", pais_mas_200_oro_1000_plata)

El país que consiguió más de 200 medallas de oro y más de 1000 de plata es: Japón

In [60]:
# 24- ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

pais_mas_200_oro_o_700_bronce = medallas[(medallas['Oro'] > 200) | (medallas['Bronce'] > 700)]
print("El país que consiguió más de 200 medallas de oro o más de 700 de bronce es:", pais_mas_200_oro_o_700_bronce)

El país que consiguió más de 200 medallas de oro o más de 700 de bronce es:                 Oro  Plata  Bronce
País
China          1473    994     720
Japón          1032   1037     985
Corea del Sur   745    663     827

In [64]:
# 25- Crea una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.

medallas['Total'] = medallas['Oro'] + medallas['Plata'] + medallas['Bronce']
medallas

                  Oro  Plata  Bronce  Total
País
China            1473    994     720   3187
Japón            1032   1037     985   3054
Corea del Sur     745    663     827   2235
Irán              179    181     197    557
Kazajistán        155    158     224    537
India             154    202     315    671
Tailandia         132    175     278    585
Indonesia         112    131     240    483
China Taipéi       99    144     276    519
Corea del Norte    91    120     235    446